<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.unparche">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UNParche"
        tools:targetApi="31">
        <activity
            android:name=".interfaces.usuario.ListaAmigosActivity"
            android:exported="false" />
        <activity
            android:name=".interfaces.intermedios.PreListaAmigosActivity"
            android:exported="false" />
        <activity
            android:name=".interfaces.sitio.EditarSitioActivity"
            android:exported="false" />
        <activity
            android:name=".interfaces.intermedios.PreSitiosActivity"
            android:exported="false" />
        <activity
            android:name=".interfaces.sitio.VerSitioActivity"
            android:exported="false" />
        <activity
            android:name=".interfaces.sitio.NuevoSitioActivity"
            android:exported="false" />
        <activity
            android:name=".interfaces.sitio.ListaMisSitiosActivity"
            android:exported="false" />
        <activity
            android:name=".interfaces.sitio.SitiosActivity"
            android:exported="false" />
        <activity
            android:name=".interfaces.actividad.ActividadCrearActivity"
            android:exported="false" />
        <activity
            android:name=".interfaces.intermedios.PostAggActividadActivity"
            android:exported="false" />
        <activity
            android:name=".interfaces.actividad.ListaActividadesTotalesActivity"
            android:exported="false" />
        <activity
            android:name=".interfaces.intermedios.PreListaActividadesActivity"
            android:exported="false" />
        <activity
            android:name=".interfaces.actividad.ListaActividadesActivity"
            android:exported="false"
            android:label="Mis actividades" />
        <activity
            android:name=".interfaces.intermedios.PostLoginActivity"
            android:exported="false" />
        <activity
            android:name=".interfaces.login.ResetPasswordActivity"
            android:exported="false"
            android:label="@string/frame_name_reset" />
        <activity
            android:name=".interfaces.login.RegistrarActivity"
            android:exported="false"
            android:label="@string/frame_name_registro" />
        <activity
            android:name=".interfaces.intermedios.PreUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".interfaces.usuario.UsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".interfaces.usuario.UsuarioEditarActivity"
            android:exported="false" />
        <activity
            android:name=".interfaces.usuario.UsuarioInicializarActivity"
            android:exported="false" />
        <activity
            android:name=".interfaces.MenuPrincipalActivity"
            android:exported="false" />
        <activity
            android:name=".interfaces.login.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>